torch
lightning
pandas
torchvision
pillow
tqdm
tensorboard
matplotlib
timm
transformers
albumentations
psutil
pytest
datasets<4
diffusers
flake8
black
pre-commit
faiss-cpu
scikit-learn
wandb
mypy
python-dotenv
accelerate
huggingface_hub==1.4.1
h5py
filelock
hydra-core
requests
